---
layout: markdown_page
title: "Site Availability Engineering"
---

## On this page

- TOC
{:toc}

## Common Links

| **Workflow** | [**How may we be of service?**](production/#workflow--how-we-work) | **GitLab.com Status** | [**`STATUS`**](https://status.gitlab.com/)
| **Issue Trackers** | [**Infrastructure**](https://gitlab.com/gitlab-com/infrastructure/issues/): [Milestones](https://gitlab.com/gitlab-com/infrastructure/milestones), [OnCall](https://gitlab.com/gitlab-com/infrastructure/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=oncall) | [**Production**](https://gitlab.com/gitlab-com/production/issues/): [Incidents](https://gitlab.com/gitlab-com/production/issues?label_name%5B%5D=incident), [Changes](https://gitlab.com/gitlab-com/production/issues?label_name%5B%5D=change), [Deltas](https://gitlab.com/gitlab-com/production/issues?label_name%5B%5D=delta)  | [**Delivery**](https://gitlab.com/gitlab-org/release/framework)
| **Slack Channels** | [#sre-lounge](https://gitlab.slack.com/archives/sre-lounge), [#database](https://gitlab.slack.com/archives/database) | [#alerts](https://gitlab.slack.com/archives/alerts), [#production](https://gitlab.slack.com/archives/production) | [#g_delivery](https://gitlab.slack.com/archives/g_delivery)
| **Operations** | [Runbooks](https://gitlab.com/gitlab-com/runbooks) (please contribute!) | **On-call**: [Handover Document](https://docs.google.com/document/d/1IrTi06fUMgxqDCDRD4-e7SJNPvxhFML22jf-3pdz_TI), [Reports](https://gitlab.com/gitlab-com/infrastructure/issues?scope=all&utf8=%E2%9C%93&state=closed&label_name[]=oncall%20report) |

## Mission

**Site Availability** is the gatekeeper and primary caretaker of the operational environment,
focusing on its **uptime** and **state as it exists in the present**.

## Vision

Over the next 12 to 18 months, we will focus relentlessly on the availability of GitLab.com 
so that it becomes engrained in everything we do. Thus, the team's priorities are driven, 
almost exclusively, by availability considerations, effecting the cultural shift necessary
to achieve our uptime goals, primarily through operational discipline. This group has the
greatest latitude in making changes to the environment that ensure uptime in the here and now,
and is the final authority as it relates to changes in GitLab.com.

Site Availability is the primary owner (but not the only consumer) of the following operational processes and procedures:

* [**change management**](/handbook/engineering/infrastructure/change-management/)
* [**incident management**](/handbook/engineering/infrastructure/incident-management/)
* [**delta management**](/handbook/engineering/infrastructure/delta-management/)

#### Key Metrics

Key metrics related to this group include:

* **Uptime**: of the operational environment at large and of services, subsystems and components.
* **Incidents**: alerts (including false positives), count, length (elapsed time), outages, escalations
* **Deployments**: count, length (elapsed time), “good” vs “bad”
* **Efficiencies**: manual vs automated tasks, (unexpected) interrupts

## Team

Each member of the Site Avilability Team is part of this vision:

* Each team member is able to work on all team projects
* The team is able to reach a conclusion independently all the time, consensus most of the time
* Career development paths are clear
* Team creates a database of knowledge through documentation, training sessions and outreach

### Team Members

The following people are members of the Site Availability Team:

<%= direct_team(manager_role: 'Engineering Manager, SAE')%>
