---
title: About GitLab
description: Learn more about GitLab and what makes us tick
suppress_header: true
extra_css:
  - company.css
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .header-content
    %img.hero-image-large{ src: "/images/company/company-header.svg" }
    %h1 About us
    %p Learn more about us, where we came from, and where we're headed

.toc-links
  %a{ href: "#what-is-gitlab"} What is GitLab?
  %a{ href: "#open-source"} The open source project
  %a{ href: "#the-company"} The company

.gitlab-content-container
  .content
    %h2.content-title#what-is-gitlab What is GitLab?
    %iframe{ src: "https://www.youtube.com/embed/MqL6BMOySIQ?showinfo=0", height: "853", width: "505", frameborder: "0", allow: "autoplay; encrypted-media", allowfullscreen: "" }
    .tile.tile-wide-image.margin-top30
      %img{ src: "/images/press/press-kit-icon.svg" }
      .tile-wide-info
        %p
          GitLab is a single application with
          %a{ href: "/features/" } features
          for the whole software development and operations (DevOps)
          %a{ href: "/stages-devops-lifecycle/" } lifecycle.
        %a.link-with-arrow{ href: "/product/" }
          Learn more about our product
          %i.fas.fa-arrow-right

  .content
    %h2.content-title#open-source The open source project
    .stats-tile-container
      .tile.tile-stat
        %p Used by more than
        %h1 100,000
        %p organizations
      .tile.tile-stat
        %p A community of
        %h1 2,200+
        %p code contributors
    .tile.tile-wide-image.margin-top30
      %img{ src: "/images/company/company-cal.svg" }
      .tile-wide-info
        %p
          We
          %a{ href: "/blog/categories/releases/" } release every month on the 22nd
          and there is a
          %a{ href: "/direction/" } publicly viewable direction
          for the product.
        %a.link-with-arrow{ href: "/direction/" }
          See where we're headed
          %i.fas.fa-arrow-right

  .content
    %h2.content-title#the-company The company
    .tile.tile-wide-image
      %img{ src: "/images/press/press-kit-icon.svg" }
      .tile-wide-info
        %p
          GitLab Inc. is a open-core company that
          %a{ href: "/pricing/" } sells subscriptions
          that offer more features and support for GitLab.
        %a.link-with-arrow{ href: "/2016/07/20/gitlab-is-open-core-github-is-closed-source/" }
          Learn about open core
          %i.fas.fa-arrow-right
    .stats-tile-container.margin-top30
      .tile.tile-stat
        %p Remote only with
        %h1 350+
        %p team members
      .tile.tile-stat
        %p Located in
        %h1 45+
        %p countries
    .tile.tile-wide-image.margin-top30
      %img{ src: "/images/company/company-community.svg" }
      .tile-wide-info
        %p
          GitLab Inc. is an active participant in this community,
          %a{ href: "/stewardship/" } see our stewardship
          for more information.
        %a.link-with-arrow{ href: "/stewardship/" }
          See our stewardship
          %i.fas.fa-arrow-right

    .stats-tile-container.margin-top30
      .tile.tile-stat
        %h1 2011
        %p GitLab, the open source project began.
      .tile.tile-stat
        %h1 2015
        %p We joined Y Combinator and started growing faster.

  .content
    .tile-grid-layout.grid-layout2
      .tile.tile-wide-image
        %img{ src: "/images/company/company-handbook.svg" }
        %p
          Most of our internal procedures can be found in
          %a{ href: "/handbook/" } publicly viewable 1000+ page handbook
          and our objects are documented in
          %a{ href: "/company/okrs/" } our OKRs.
      .tile.tile-wide-image
        %img{ src: "/images/company/company-contribute.svg" }
        %p
          %a{ href: "/company/strategy/#mission" } Our mission
          is to change all creative work from read-only to read-write so that
          %strong
            everyone can contribute.
      .tile.tile-wide-image
        %img{ src: "/images/company/company-culture.svg" }
        %p
          %a{ href: "/handbook/values/" } Our values are
          Collaboration, Results, Efficiency, Diversity, Iteration, and Transparency (CREDIT) and these form an important part of
          %a{ href: "/company/culture/" } our culture.
      .tile.tile-wide-image
        %img{ src: "/images/press/press-kit-icon.svg" }
        %p
          Our Tanuki (Japanese for raccoon dog) logo symbolizes this with a smart animal that works in a group to achieve a common goal, you can download it on
          %a{ href: "/press/" } our press page.
